In [11]:
import pdfplumber
import re 
import spacy

def extract_text_from_pdf(pdf_file):
    with pdfplumber.open(pdf_file) as pdf:
        text = ""
        for page in pdf.pages:
            text += page.extract_text() or ""
    return text

def extract_name(doc: spacy.tokens.Doc) -> str:
    """Extract the person's name using NER (Named Entity Recognition)."""
    for ent in doc.ents:
        if ent.label_ == "PERSON":
            return ent.text
    # Fallback: assume name is at the top of the resume (first line)
    first_line = doc.text.split('\n')[0].strip()
    return first_line if first_line else "Name not found"

def extract_email(text: str) -> str:
    """Extract email address using regex."""
    email_pattern = r'[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}'
    match = re.search(email_pattern, text)
    return match.group(0) if match else "Email not found"

def extract_phone(text: str) -> str:
    """Extract phone number using regex."""
    phone_pattern = r'(\+?\d{1,3}[-.\s]?)?\(?\d{3}\)?[-.\s]?\d{3}[-.\s]?\d{4}'
    match = re.search(phone_pattern, text)
    return match.group(0) if match else "Phone not found"

def extract_skills(doc, skills_list):
    """Extract skills by matching against a predefined list."""
    found_skills = set()
    text = doc.text.lower()
    for skill in skills_list:
        if skill.lower() in text:
            found_skills.add(skill)
    return list(found_skills) if found_skills else ["No skills matched"]

def extract_education(doc):
    """Extract education details."""
    education_keywords = {"university", "college", "institute", "school", "bachelor", "master", "phd", "degree"}
    education = []
    for ent in doc.ents:
        if ent.label_ in {"ORG", "DATE"} and any(keyword in ent.text.lower() for keyword in education_keywords):
            education.append(ent.text)
    return education if education else ["Education not found"]

def parse_resume(model, pdf_path, skills_list):
    """Main function to parse resume and extract information."""
    # Extract text from PDF
    text = extract_text_from_pdf(pdf_path)
    if not text:
        return {"error": "No text extracted from resume"}

    # Process text with spaCy
    doc = model(text)

    # Extract information
    resume_data = {
        "name": extract_name(doc),
        "email": extract_email(text),
        "phone": extract_phone(text),
        "skills": extract_skills(doc, skills_list),
        "education": extract_education(doc)
    }
    return resume_data

In [2]:
path = '/Users/hainguyen/Desktop/Harry_Nguyen_Resume.pdf'

text = extract_text_from_pdf(path)
text

'Harry Nguyen\n§ hainguyen2903.github.io/gitprofile | (cid:239) linkedin.com/in/nguyenphuchai | # hainguyen29031412@gmail.com\nEDUCATION\nUniversity of Technology Sydney (UTS) August 2023 - August 2025\nMaster’s Degree in Data Science (Postgraduate Excellence International Scholarship)\nUniversity of Engineering and Technology, Vietnam National University August 2018 - August 2022\nBachelor’s Degree in Computer Science\nGPA: 3.51/4.0 Thesis score: 9.1/10\nSKILLS AND KNOWLEDGE\nBackground Knowledge Machine Learning, Computer Vision, Natural Language Processing\nData Analysis Skills Tableau, Seaborn, Matplotlib, AWS\nProgram Languages Python, SQL\nData Enigineer Skills Azure, Databrick, Airflow, dbt\nSoft Skills Teamwork, Self-Studying, Leadership, Problem Solving\nWORKING EXPERIENCE\nMachine Learning Engineer (SiliconCube Company) July 2022 - June 2023\n• Smart Parking System - Car Detection and License Plate Recognition\nAn automatic parking monitoring system, which includes license plate recognition and parking slots monitoring.\nResponsibility:\n– Experimented, error analysed and intergrated multiple models (YOLOv5, WPOD-Net, ...), resulted in more\nthan 98% in term of accuracy.\n– Deployed trained model on NVIDIA Jetson Xavier device. Built server-client protocol to verified system pipeline\nand dockerized product.\n• Smart Advisor for Online Learning Platform\nAn AI system for tracking student knowledge level and recommending essential learning materials based on their historical\nacademic performance.\nResponsibility:\n– Experimented, error analysed and intergrated multiple deep models to achieve high performance.\n– Created pipeline for system continuous training and monitoring using Wandb.\nComputer Vision Research Engineer (AI Lab - UET) April 2020 - August 2022\n• Real Time Multiple Cameras Surveillance System [Link]\nAreal-timeMultipleTargetsTrackingsystemwith50camerasand12differentobservationareasina5-floorbuilding.\nResponsibility:\n– Researched, developed and ensembled several detection models for comparative analysis (mostly YOLOv5 and\nCenterNet).\n– Research, optimized and benchmarked different tracking models (DeepSORT, FairMOT), resulted in approxi-\nmately 85% in term of MOTA metric on collected dataset.\n– Leaded data team and annotation pipeline, including data collection, extraction, annotation and quality\nverification.\n– Created partial automation pipeline with re-identification models to support annotation process, resulted\nin x2 annotation speed compared to traditional method.\n– Collaborated to generate the largest multiple-camera tracking dataset compared to existing datasets in\nterms of camera, tracking area, and human ID quantities.\n– Collaborated to design new algorithm for tracking across multiple cameras using different techniques, namely\ncamera calibration, top-view representation, feature matching, etc.DATA SCIENCE PROJECTS\n• Airbnb ad-hoc analyses with Big Data November 2024\nEnd-to-end ELT pipeline and ad hoc analysis from raw data to key insights for the optimization of Airbnb strategies.\nResponsibility:\n– Deployed a production-ready ELT data pipeline, automating tasks with Apache Airflow and dbt Cloud.\n– Organized data using a medallion architecture and enabled ad-hoc analysis with data marts.\n– Delivered ad-hoc analyses that provided actionable insights for key business decisions.\n• NSW Traffic Analysis for Road Maintenance Optimization [Link] June 2024\nA story-telling project with advanced visualizations for NSW Road Maintenance Optimization.\nResponsibility:\n– Performed different data processing and transformation techniques on the the source data set (dedupicating,\naggregation, joining, etc.).\n– LeveragedTableauforcomplexvisualizations,includinggeographicalheatmaps,multi-levelbarcharts,time-series\ncharts, and combined charts.\n– Designed storyline with effective visualizations (i.e., color highlighting, group comparisons, etc.) to deliver valu-\nable business insights to audience.\n• AWS Elastic Beanstalk PaaS for LAMP stack application June 2024\nThe project aims to implement a scalable, elastic, highly available, and fault-tolerant PaaS for business needs.\nResponsibility:\n– Implemented a PaaS with different AWS services, including EC2, Load Balancer, Auto Scaling Group, RDS,\nVPC, etc. that allows businesses to fully customize for their LAMP stack application.\n• Banking Customer Segmentation [Link] June 2024\nThe project leverages the bank’s extensive transactional data collected over the past three years to develop machine\nlearning for segmenting customers based on spending behaviors, facilitating personalized marketing.\nResponsibility:\n– Performed comprehensive data exploratory to identify important features for model development.\n– Leveragedoriginalfeaturestogenerateamorereliablefeatureset(i.e. RFMvalues)forbettercustomerclustering.\n– ExperimentedvariousclusteringmodelswhichincludesDBSCANandKMeans,combiningwithPCAtooptimize\nmodel weight and performance.\n• Telecom Customer Understanding [Link] August 2023\nThe project aims to obtain a comprehensive understanding of customer groups from company’s past marketing cam-\npaigns to identify new strategies for the upcoming campaign through the development of the EDA and ML model\ndevelopment.\nResonsibility:\n– Applied various EDA techniques (visualization, univariate and bivariate analysis, etc.) to draw comprehensive\ninsights of customers and external contexts of the given dataset.\n– Leveraged hypothesis testing to verify generated hypothesis of variable relationships.\n– Developed various classification models, including XGBoost and TPE hyperparams optimization, to extract\ninsights from different customer segments.'

In [12]:
model = spacy.load('en_core_web_sm')

# processed_text = model(text)
# processed_text

sample_skills = [
        "Python", "Java", "Machine Learning", "SQL", "JavaScript",
        "Project Management", "Data Analysis", "C++", "React", "AWS"
    ]


# Parse the resume
result = parse_resume(model, path, sample_skills)

# Print results
print("Extracted Resume Information:")
for key, value in result.items():
    print(f"{key.capitalize()}: {value}")

Extracted Resume Information:
Name: Harry Nguyen
§
Email: hainguyen29031412@gmail.com
Phone: Phone not found
Skills: ['SQL', 'Machine Learning', 'Data Analysis', 'Python', 'AWS']
Education: ['University of Technology Sydney', 'University of Engineering and Technology', 'Vietnam National University', 'Bachelor’s Degree']

In [13]:
path = '/Users/hainguyen/Downloads/Henry CV.pdf'

result = parse_resume(model, path, sample_skills)

# Print results
print("Extracted Resume Information:")
for key, value in result.items():
    print(f"{key.capitalize()}: {value}")

Extracted Resume Information:
Name: HENRY LE
Email: nhathoangle1312@gmail.com
Phone: Phone not found
Skills: ['SQL', 'Machine Learning', 'Data Analysis', 'Python', 'AWS']
Education: ['UNIVERSITY OF TECHNOLOGY SYDNEY', 'KENT INSTITUTE UNIVERSITY', 'Bachelor of Accounting\n• Focus', 'CURTIN UNIVERSITY']

In [1]:
import pandas as pd
df = pd.read_csv('datasets/linkedin-jobs-2023-2024/postings.csv')
df.head(3)

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,NaN,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,We are currently accepting resumes for FOH - A...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0

In [2]:
df.columns

Index(['job_id', 'company_name', 'title', 'description', 'max_salary',
       'pay_period', 'location', 'company_id', 'views', 'med_salary',
       'min_salary', 'formatted_work_type', 'applies', 'original_listed_time',
       'remote_allowed', 'job_posting_url', 'application_url',
       'application_type', 'expiry', 'closed_time',
       'formatted_experience_level', 'skills_desc', 'listed_time',
       'posting_domain', 'sponsored', 'work_type', 'currency',
       'compensation_type', 'normalized_salary', 'zip_code', 'fips'],
      dtype='object')

In [3]:
all_titles = df['title'].unique()

titles = ['Data Analyst', 'Data Scientist', 'Data Engineer', 'ML Engineer', 'Machine Learning Engineer', 'AI Engineer',
          'AI Researcher']
df_filter = df[df.title.isin(titles)]

In [10]:
for i in range(5, 10):
    print('JOB', i)
    print(df_filter.iloc[i]['description'])
    print()

JOB 5
Piper Companies is seeking a Data Engineer to cluster large datasets across various container and data platforms depending on external client needs. The Data Engineer will work hands-on with challenging data engineering, data management, and analytics projects.

Responsibilities of the Data Engineer include:

 Achieve and maintain proficiency with cluster and framework sizing, installation, debugging, performance optimization, migration, security and automation Collaborate with data scientists, analysts, business users, and IT teams to design, implement, and deploy data services and analytics. Use Continuous Integration/Continuous Delivery (CI/CD) concepts to engineer a standardized data environment Recommend and advise on optimal data models for data ingestion, integration, and visualization Integrate data from a variety of data source types

Qualifications for the Data Engineer include:

 6 years of experience in data engineering Experience with Snowflake, Databricks, Spark SQL, PySpark, and Python 3+ years cloud experience: Azure, AWS, or GCP

Compensation for the Data Engineer include:

 Salary: $135,000-145,000 Benefits: Full Health/Dental/Vision, 401K, Pension, Annual Bonus

JOB 6
Piper Companies is looking for a Data Engineer for an Investment Firm in Wayne, PA for a Hybrid, Full-Time opportunity.

﻿Responsibilities of the Data Engineer:

 Conduct data profiling, source-target mappings, ETL development, SQL tunings and optimization, testing and implementation Provide business and technical analysis for initiatives focusing on Data Warehouse and Business Intelligence solutions Collaborate with Business Intelligence Developers through dashboard and application development process for requirements gathering, feedback on proposed designs and models, and acceptance testing

Qualifications of the Data Engineer:

 10 years’ experience, with both hands-on and lead experience in supporting data warehousing solutions Must possess the following technical skills: ETL Tools: Enterprise class ETL tool (Talend is plus) Databases & Utilities: Experience with enterprise relational databases (Snowflake experience preferred) Platforms: Microsoft / Unix Expertise and fluency in SQL language is required Knowledge of scripting languages and job schedulers is required (Powershell, etc.) Experience with various integration patterns (e.g. Flat Files, Web Services, etc.) is required Knowledge of fundamental data modeling concepts (e.g. ER Diagrams, normalization, etc.) is required Familiarity with Python, Snowflake, Talend, XML/XSLT, and Cloud Services (AWS or Azure) are preferred Excellent troubleshooting and problem-solving skills; able to root cause and debug complex code in and efficient manner/with appropriate urgency Bachelor's degree in computer science, information technology or another computer-based discipline

Compensation for the Data Engineer:

 Salary of $120K - $150K Hybrid Scheduling Comprehensive Benefits Package: Medical, Dental, Vision, 401K, PTO

Keywords:

Data, Data analysis, Engineering, Data Engineering, Data Wrangling, Data Manipulation, Data Automation, SQL, MySQL, SQL Server, RDMS, Relational Databases, Relational Database Management Systems, DBA, Database Management, Schemas, Queries, Query, DA, Extract, Transform, Load, scripting, data reports, data visualization, benefits, medical, dental, vision, 401K, pto, vacation, hybrid

JOB 7
Sr. Data Engineer – 3-month Contract – Remote, United States – W2 ONLY, NO C2C

We are seeking an experienced Data Engineer to join our world leading footwear client. The ideal candidate will have 6-7 years of relevant experience, with a focus on practical application in AWS tech stack. Experience with Databricks, Spark, and Python for coding is essential.

W2 ONLY, NO C2C*


Key Responsibilities:

Establish database management systems and standards.Document and communicate database design.Evaluate and install database systems.Code complex programs and build reports.Assist in UI and prototype design.Participate in quality assurance.Provide expertise in database design and optimization.


Qualifications:

Bachelor’s degree in Computer Science or related field.6-7 years of data engineering experience.Proficiency in AWS, Databricks, Spark, and Python.Ability to work in complex environments with diverse projects.Strong communication and collaboration skills.


Mainz Brady Group is a technology staffing firm with offices in California, Oregon and Washington. We specialize in Information Technology and Engineering placements on a Contract, Contract-to-hire and Direct Hire basis. Mainz Brady Group is the recipient of multiple annual Excellence Awards from the Techserve Alliance, the leading association for IT and engineering staffing firms in the U.S.

Mainz Brady Group is an Equal Opportunity Employer. We are committed to Diversity & Inclusion and incorporate non-discrimination best practices in all of our staffing processes. Mainz Brady Group does not discriminate on the basis of race, color, religion, sex, sexual orientation, gender identity, gender expression, age, disability or any other protected class.

JOB 8
Data Engineer
We are seeking a motivated and detail-oriented Data Engineer to join our team based in Roanoke, Virginia. As a Data Engineer, you will play a crucial role in designing, developing and maintaining scalable data pipelines and transformations for business-critical use cases. In addition, you may take on various Software Development and Data Science responsibilities as we frequently share responsibilities and knowledge across our growing team.
Responsibilities:Design, develop and maintain scalable data pipelines for extracting, transforming, and loading data from various sourcesCollaborate with cross-functional teams to identify data needs and determine the best data solutionsDevelop and implement data models to support business requirements and ensure data qualityEnsure the security and privacy of sensitive data by implementing appropriate access controlsMonitor and optimize data pipeline performance to ensure timely and accurate data deliveryDocument data pipeline processes, data dictionaries, and data storage solutions
Requirements:Bachelor's degree in Computer Science, Computer Engineering, or a related technical fieldMinimum of five years of professional experience working as a Data Engineer or Software DeveloperStrong hands-on experience with data warehouse and transformation solutions, i.e. Domo, Snowflake or similarProficient in at least one scripting language such as Python, JavaScript, or RUnderstanding of data modeling, data integration and data quality processesFamiliarity with cloud platforms such as AWS, Azure, or Google Cloud PlatformStrong analytical and problem solving skillsFull Stack Software Development experience in a professional setting is highly desired, but not required
This is an excellent opportunity for a driven and collaborative individual to make a significant impact in a dynamic and growing team. If you have a passion for data and a desire to work in a fast-paced and dynamic environment, we want to hear from you!

JOB 9
Overview:As a Data Engineer specializing in Cloud Image and Edge Device handling, you will play a crucial role inthe development and maintenance of our data infrastructure, particularly focused on managing imagedata from edge devices and processing it efficiently in cloud environments. You will be responsible fordesigning, implementing, and optimizing data pipelines to ensure seamless ingestion, storage, andanalysis of image data from various sources. Additionally, you will collaborate closely with crossfunctionalteams to integrate data-driven solutions into our products and services.Responsibilities:Data Pipeline Development: Design, implement, and maintain scalable data pipelines for ingesting,processing, and analyzing image data from edge devices to cloud-based storage and computingplatforms.Data Architecture: Design and Architect a Data Lake for structured and unstructured data over cloud(e.g., AWS, Azure, Google Cloud) for efficient storage, processing, and retrieval of data, ensuring highavailability, reliability, and performance.Edge Device Integration: Develop strategies and mechanisms for seamless integration of edge deviceswith cloud-based systems, including data synchronization, device management, and security protocols.Image Data Processing: Implement algorithms and techniques for real-time processing, transformation,and analysis of image data, optimizing for speed, accuracy, and resource efficiency.Data Quality and Governance: Implement data quality checks, validation processes, and governanceframeworks to ensure the integrity, consistency, and security of image data throughout its lifecycle.Performance Optimization: Identify performance bottlenecks in data pipelines and cloud infrastructure,and implement optimizations to improve throughput, latency, and cost-effectiveness.Collaboration and Communication: Collaborate with cross-functional teams, including softwareengineers, data scientists, and domain experts, to understand requirements, prioritize tasks, and deliverintegrated solutions.Documentation and Best Practices: Document design decisions, implementation details, and bestpractices for data engineering processes, ensuring knowledge sharing and continuous improvementwithin the team.Qualifications:Bachelor's or Master's degree in Computer Science, Engineering, or related field.Proven experience as a Data Engineer, preferably with specialization in handling image data.Strong proficiency in cloud computing platforms (e.g., AWS, Azure, Google Cloud) and related services(e.g., S3, EC2, Lambda, Kubernetes).Experience with data engineering tools like DataBrick, Snowflake, Glue etc.Proficiency in programming languages commonly used in data engineering (e.g., Python, Scala, Java) andfamiliarity with relevant libraries and frameworks (e.g., Apache Spark, TensorFlow, OpenCV).Solid understanding of data modeling, schema design, and database technologies (e.g., SQL, NoSQL,data warehouses).Familiarity with DevOps practices, CI/CD pipelines, and containerization technologies (e.g., Docker,Kubernetes).Strong problem-solving skills, analytical thinking, and attention to detail.Excellent communication and collaboration skills, with the ability to work effectively in a cross-functionalteam environment.

In [53]:
df = pd.read_excel('datasets/Technology Skills.xlsx')

In [55]:
df.head(3)

,O*NET-SOC Code,Title,Example,Commodity Code,Commodity Title,Hot Technology,In Demand
0,11-1011.00,Chief Executives,Adobe Acrobat,43232202,Document management software,Y,N
1,11-1011.00,Chief Executives,AdSense Tracker,43232306,Data base user interface and query software,N,N
2,11-1011.00,Chief Executives,Atlassian JIRA,43232201,Content workflow software,Y,N

In [64]:
# df[df['Commodity Title'].str.contains('pytorch')]['Commodity Title'].unique()
len(df['Commodity Title'].unique())

135

In [52]:
df[df['Commodity Title'] == 'Spreadsheet software']['Example'].unique()

array(['Microsoft Excel', 'Apple Numbers for Mac', 'Apple iWork Numbers',
       "Moody's KMV FAMAS", 'Corel QuattroPro', 'IBM Lotus 1-2-3',
       'Spreadsheet software', 'Google Sheets', 'Apple AppleWorks',
       'Thomson GoSystem MyTaxInfo', 'EZAnalyze',
       'Restaurant Operations & Management Spreadsheet Library',
       'Spreadsheet applications', 'Spreadsheet programs',
       'Rockport Integrated Excel Underwriting', 'PipingOffice'],
      dtype=object)

In [2]:
# from pyresparser import ResumeParser

# path = '/Users/hainguyen/Desktop/Harry_Nguyen_Resume.pdf'

# data = ResumeParser(path).get_extracted_data()

import spacy
nlp = spacy.load("en_core_web_sm")
doc = nlp("Worked as a Data Analyst using SQL and Power BI at XYZ Corp")

for ent in doc.ents:
    print(ent.text, ent.label_)

Data ORG
SQL ORG
Power BI ORG
XYZ Corp ORG