In [11]:
import pandas as pd
df = pd.read_csv('datasets/job_descs_exp.csv')
df.head(3)

# df.head(10).to_csv('datasets/job_descs_exp.csv', index=False)

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,3245063922,Saxon AI,Data Architect,Request: Data ArchitectLocation: San Francisco...,NaN,NaN,"San Francisco, CA",224935.0,7.0,NaN,...,NaN,1.713537e+12,NaN,0,CONTRACT,NaN,NaN,NaN,94101.0,6075.0
1,3398076960,NaN,Technical Product and IT Manager for Data Cent...,This opportunity is joining an innovation driv...,225000.0,YEARLY,United States,NaN,25.0,NaN,...,NaN,1.713555e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,155000.0,NaN,NaN
2,3540371917,KeyBank,Enterprise Data & Analytics Infrastructure Man...,The Enterprise Data Infrastructure and Analyti...,NaN,NaN,"Cleveland, OH",3252.0,30.0,NaN,...,NaN,1.713452e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,44102.0,39035.0

In [12]:
import json

with open('id_mapping.json', 'r') as f:
    id_map = json.load(f)

In [20]:
job_id = id_map['8']

df[df.job_id == job_id]['description'].item()

"Job Title: Data AnalystDuration: ContractLocation: Queens-NY (Day 1 onsite)-- Need only locals \n\nRole DescriptionThis is a contract role for a Data Analyst. As a Data Analyst, you will be responsible for collecting, analyzing, and interpreting complex data sets. You will work with various departments to identify patterns, trends, and insights that can be used to improve business operations. This is an on-site role located in Queens, NY.\nQualificationsAnalytical skills, including the ability to collect, organize, analyze and disseminate significant amounts of information with attention to detail and accuracyData Analytics and Statistics skills, including experience with statistical analysis software and data visualization toolsExcellent communication skills, including the ability to explain technical concepts to non-technical stakeholders and present findings to both technical and non-technical audiencesData Modeling skills, including the ability to develop and maintain complex data models and schemasA Bachelor's degree in Computer Science, Mathematics, Statistics or related fieldExperience with cybersecurity, blockchain, or financial services industries is a plusExperience with SQL, Python, or R programming languages is preferred"

In [ ]:
df['description']

116       Request: Data ArchitectLocation: San Francisco...
134       This opportunity is joining an innovation driv...
165       The Enterprise Data Infrastructure and Analyti...
283       Data Engineer with Kafka (W2 Only)ðŸ’¯% Remote\nM...
348       Company DescriptionPB Built is a residential c...
                                ...
123475    About This Featured Opportunity\n\nWe are look...
123580    Role Title: Data Engineering Lead for a global...
123727    Overview\n\nThe Credit Risk & Decision Science...
123770    Overview\n\nManage Navy Federal's BSA/AML and ...
123845    About Pinterest:\n\nMillions of people across ...
Name: description, Length: 2720, dtype: object

:

In [ ]:
# all_titles = df['title'].unique()

# titles = ['Data Analyst', 'Data Scientist', 'Data Engineer', 'ML Engineer', 'Machine Learning Engineer', 'AI Engineer',
#           'AI Researcher']
# df_filter = df[df.title.isin(titles)]

title_keywords = ['Data ', 'AI ', 'ML ', 'Machine Learning ']

df = df[df.title.str.contains('|'.join(title_keywords), case=False, na=False)]
print(len(df))

NameError: name 'df' is not defined

: