In [21]:
import pandas as pd
df = pd.read_csv('datasets/job_descs_sum_exp.csv')
df.head(3)

# df.head(10).to_csv('datasets/job_descs_exp.csv', index=False)

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips,job_summary
0,3245063922,Saxon AI,Data Architect,Request: Data ArchitectLocation: San Francisco...,NaN,NaN,"San Francisco, CA",224935.0,7.0,NaN,...,1.713537e+12,NaN,0,CONTRACT,NaN,NaN,NaN,94101.0,6075.0,"Skills: AWS, EC2, S3, Lambda, Glue, Athena, Ki..."
1,3398076960,NaN,Technical Product and IT Manager for Data Cent...,This opportunity is joining an innovation driv...,225000.0,YEARLY,United States,NaN,25.0,NaN,...,1.713555e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,155000.0,NaN,NaN,"Skills: data center product management, market..."
2,3540371917,KeyBank,Enterprise Data & Analytics Infrastructure Man...,The Enterprise Data Infrastructure and Analyti...,NaN,NaN,"Cleveland, OH",3252.0,30.0,NaN,...,1.713452e+12,NaN,0,FULL_TIME,NaN,NaN,NaN,44102.0,39035.0,"Skills: leadership, infrastructure support, da..."

In [22]:
df['job_summary'].unique()

array(['Skills: AWS, EC2, S3, Lambda, Glue, Athena, Kinesis, ETL, Data Warehousing, SQL, Redshift, Python, SPARK, JSON, API integration, Cloud computing, Big data  \nJob Roles: Data Architect  \nExperience: Hands-on experience with specified technologies  \nCareer Level: Mid  \nEducation: ',
       'Skills: data center product management, marketing, technical sales, account management, product strategy, Go To Market strategy, team recruitment and management, strong communication skills  \nJob Roles: Cloud Product Manager, Revenue Officer  \nExperience: 7-15+ years in data center product, business development, marketing, and/or sales  \nCareer Level: Mid, Senior  \nEducation: ',
       'Skills: leadership, infrastructure support, data analytics, team management, stability and security, modernization  \nJob Roles: Enterprise Data Infrastructure and Analytics Manager  \nExperience: experience in managing engineering teams, expertise in data and analytics platforms  \nCareer Level: Mid, Senior  \nEducation: ',
       'Skills: Kafka, API, Python, AWS, Informatica IICS, Snowflake, SQL, dimensional modeling, ETL development, Linux, shell scripting, git  \nJob Roles: Data Engineer  \nExperience: 10 to 12+ years of strong development experience  \nCareer Level: Mid, Senior  \nEducation: ',
       'Skills: Excellent communication, interpersonal skills, Microsoft Office proficiency, attention to detail, organizational skills, multitasking  \nJob Roles: Receptionist, Data Entry  \nExperience: Prior experience as a receptionist or in a data entry role  \nCareer Level: Entry  \nEducation: ',
       'Skills: big data analysis, statistical data processing, Python, C++, JAVA, AWS, GCP, Azure, communication skills  \nJob Roles: software engineer, automotive engineer, data analyst  \nExperience: 1-2 years automotive engineering experience, internship experience accepted  \nCareer Level: Entry, Mid  \nEducation: Bachelor’s degree in mechanical engineering, electrical engineering, computer science, software engineering, or equivalent  ',
       'Skills: Python, data manipulation (Pandas, Numpy, Matplotlib, Plotly), RESTful APIs, cloud platforms (AWS/Azure/Databricks/Snowflake/GCP), Docker, Kubernetes, Linux, Windows, CI/CD Pipelines, Jira, version control (git), microservices, data science (AI/ML) algorithms, SQL, Timeseries databases  \nJob Roles: Software Engineer  \nExperience: Minimum 2 years of industry experience in developing production-level software  \nCareer Level: Mid  \nEducation: B.S in Math, Physics, Engineering, or Computer Science  ',
       'Skills: React, JavaScript, TypeScript, Node.js, PHP, HTML, CSS, API, Git, MySQL, Docker, AWS, Test Driven Development, unit testing, integration testing  \nJob Roles: Full Stack Developer  \nExperience: 0 - 3+ years of full stack software development experience  \nCareer Level: Entry, Mid  \nEducation: BS in Computer Science or relevant field preferred  ',
       "Skills: Analytical skills, Data Analytics, Statistics, Data Visualization, Communication, Data Modeling, SQL, Python, R  \nJob Roles: Data Analyst  \nExperience: Experience with cybersecurity, blockchain, or financial services industries  \nCareer Level: Entry, Mid  \nEducation: Bachelor's degree in Computer Science, Mathematics, Statistics or related field  ",
       'Skills: data management, software engineering, analytics, algorithm development, predictive modeling  \nJob Roles: Data Analyst, Software Engineer, Data Scientist  \nExperience: experience in mortgage banking, familiarity with data tools and technologies  \nCareer Level: Mid  \nEducation: Not specified  '],
      dtype=object)

In [12]:
import json

with open('id_mapping.json', 'r') as f:
    id_map = json.load(f)

In [20]:
job_id = id_map['8']

df[df.job_id == job_id]['description'].item()

"Job Title: Data AnalystDuration: ContractLocation: Queens-NY (Day 1 onsite)-- Need only locals \n\nRole DescriptionThis is a contract role for a Data Analyst. As a Data Analyst, you will be responsible for collecting, analyzing, and interpreting complex data sets. You will work with various departments to identify patterns, trends, and insights that can be used to improve business operations. This is an on-site role located in Queens, NY.\nQualificationsAnalytical skills, including the ability to collect, organize, analyze and disseminate significant amounts of information with attention to detail and accuracyData Analytics and Statistics skills, including experience with statistical analysis software and data visualization toolsExcellent communication skills, including the ability to explain technical concepts to non-technical stakeholders and present findings to both technical and non-technical audiencesData Modeling skills, including the ability to develop and maintain complex data models and schemasA Bachelor's degree in Computer Science, Mathematics, Statistics or related fieldExperience with cybersecurity, blockchain, or financial services industries is a plusExperience with SQL, Python, or R programming languages is preferred"